monitoring/fabric-unified-admin-monitoring/src/Load_PBI_Workspaces_E2E.DataPipeline/pipeline-content.json
{
    "properties": {
        "activities": [
            {
                "name": "Delete files",
                "type": "Delete",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "FUAM_Lakehouse",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "4c549dba-8b1e-3019-924b-38a8cd316b30",
                                    "artifactId": "7e22d4a1-2868-38c5-add4-b555a6c2bdb1",
                                    "rootFolder": "Files"
                                }
                            }
                        },
                        "type": "Binary",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "folderPath": "raw/workspaces"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "LakehouseReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Fetch Workspace count",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Delete files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00:00.010",
                        "requestMethod": "GET",
                        "paginationRules": {
                            "supportRFC5988": "true"
                        }
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "type": "RestResource",
                        "typeProperties": {
                            "relativeUrl": {
                                "value": "@string('groups?$filter=isOnDedicatedCapacity eq true&$top=1')\n",
                                "type": "Expression"
                            }
                        },
                        "schema": [],
                        "externalReferences": {
                            "connection": "866636d9-56c7-3c28-ba23-9a3a9b5926c6"
                        }
                    }
                }
            },
            {
                "name": "Set workspace_count",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Fetch Workspace count",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "workspace_count",
                    "value": {
                        "value": "@activity('Fetch Workspace count').output.value[0]['@odata.count']",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set page_count",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Set workspace_count",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "page_count",
                    "value": {
                        "value": "@add(div(variables('workspace_count'),variables('limit')),1)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set page_array",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Set page_count",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "page_array",
                    "value": {
                        "value": "@range(0,variables('page_count'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ForEach Get Workspaces",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set page_array",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@variables('page_array')",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Set currentSkip",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "currentSkip",
                                "value": {
                                    "value": "@mul(item(),variables('limit'))",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Fetch Workspaces",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Set currentSkip",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "RestSource",
                                    "httpRequestTimeout": "00:01:40",
                                    "requestInterval": "00.00:00:00.010",
                                    "requestMethod": "GET",
                                    "paginationRules": {
                                        "supportRFC5988": "true"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "type": "RestResource",
                                        "typeProperties": {
                                            "relativeUrl": {
                                                "value": "@concat('groups?$filter=isOnDedicatedCapacity eq true&$top=',variables('limit'),'&$skip=', variables('currentSkip'))",
                                                "type": "Expression"
                                            }
                                        },
                                        "schema": [],
                                        "externalReferences": {
                                            "connection": "866636d9-56c7-3c28-ba23-9a3a9b5926c6"
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "LakehouseWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings",
                                        "filePattern": "arrayOfObjects"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "FUAM_Lakehouse",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "4c549dba-8b1e-3019-924b-38a8cd316b30",
                                                    "artifactId": "7e22d4a1-2868-38c5-add4-b555a6c2bdb1",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "Json",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation",
                                                "fileName": {
                                                    "value": "@concat(item(),'_workspaces.json')",
                                                    "type": "Expression"
                                                },
                                                "folderPath": "raw/workspaces"
                                            }
                                        },
                                        "schema": {}
                                    }
                                },
                                "enableStaging": false
                            }
                        }
                    ]
                }
            },
            {
                "name": "02_Transfer_Workspaces_Unit",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach Get Workspaces",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "2b128030-228e-3970-9162-95a3026c92c9",
                    "workspaceId": "4c549dba-8b1e-3019-924b-38a8cd316b30",
                    "parameters": {
                        "display_data": {
                            "value": {
                                "value": "@pipeline().parameters.display_data",
                                "type": "Expression"
                            },
                            "type": "bool"
                        }
                    },
                    "sessionTag": "fuam"
                }
            }
        ],
        "parameters": {
            "display_data": {
                "type": "bool",
                "defaultValue": false
            }
        },
        "variables": {
            "limit": {
                "type": "Integer",
                "defaultValue": 5000
            },
            "page_count": {
                "type": "Integer"
            },
            "currentSkip": {
                "type": "Integer"
            },
            "page_array": {
                "type": "Array"
            },
            "workspace_count": {
                "type": "Integer"
            }
        }
    }
}