monitoring/fabric-unified-admin-monitoring/src/Load_Activities_E2E.DataPipeline/pipeline-content.json
{
    "properties": {
        "activities": [
            {
                "name": "Set dayArray",
                "description": "A range between 0 and the value of the parameter \"fromDateDayAgo\"-1 is generated.\nThe maximum range allowed in this pipeline can be 0 to 28 (29 days) to make this FUAM module more error-resistant.",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Delete files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "dayArray",
                    "value": {
                        "value": "@range(0, pipeline().parameters.fromDateDayAgo)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ForEach days",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set dayArray",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@variables('dayArray')",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Set currentDay",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "currentDay",
                                "value": {
                                    "value": "@mul(item(), -1)",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Set fromDate",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Set currentDay",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "fromDateFormatted",
                                "value": {
                                    "value": "@concat(formatDateTime(addDays(utcNow(), variables('currentDay')),'yyyy-MM-dd'), 'T00:00:00.000Z')",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Set toDate",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Set currentDay",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "toDateFormatted",
                                "value": {
                                    "value": "@concat(formatDateTime(addDays(utcNow(), variables('currentDay')),'yyyy-MM-dd'), 'T23:59:59.999Z')",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Copy Activity Log to Files",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Set fromDate",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                },
                                {
                                    "activity": "Set toDate",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                },
                                {
                                    "activity": "Set currentDateLabel",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "RestSource",
                                    "httpRequestTimeout": "00:01:40",
                                    "requestInterval": "00.00:00:00.010",
                                    "requestMethod": "GET",
                                    "paginationRules": {
                                        "AbsoluteUrl": {
                                            "value": "@string('$.continuationUri')",
                                            "type": "Expression"
                                        }
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "type": "RestResource",
                                        "typeProperties": {
                                            "relativeUrl": {
                                                "value": "@concat('activityevents?startDateTime=''',variables('fromDateFormatted'),'''&endDateTime=''', variables('toDateFormatted'), '''')",
                                                "type": "Expression"
                                            }
                                        },
                                        "schema": [],
                                        "externalReferences": {
                                            "connection": "866636d9-56c7-3c28-ba23-9a3a9b5926c6"
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "LakehouseWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings",
                                        "filePattern": "arrayOfObjects"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "FUAM_Lakehouse",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "4c549dba-8b1e-3019-924b-38a8cd316b30",
                                                    "artifactId": "7e22d4a1-2868-38c5-add4-b555a6c2bdb1",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "Json",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation",
                                                "fileName": "activities.json",
                                                "folderPath": {
                                                    "value": "@concat('raw/activities/', variables('currentDateLabel'))",
                                                    "type": "Expression"
                                                }
                                            }
                                        },
                                        "schema": {}
                                    }
                                },
                                "enableStaging": false
                            }
                        },
                        {
                            "name": "Set currentDateLabel",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Set currentDay",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "currentDateLabel",
                                "value": {
                                    "value": "@concat(formatDateTime(addDays(utcNow(), variables('currentDay')),'yyyy-MM-dd'))",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Delete files",
                "type": "Delete",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "FUAM_Lakehouse",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "4c549dba-8b1e-3019-924b-38a8cd316b30",
                                    "artifactId": "7e22d4a1-2868-38c5-add4-b555a6c2bdb1",
                                    "rootFolder": "Files"
                                }
                            }
                        },
                        "type": "Binary",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "folderPath": "raw/activities"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "LakehouseReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "02_Transform_Activities_Unit",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach days",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "121b06b8-ccb3-340a-a450-7ccdc45c172c",
                    "workspaceId": "4c549dba-8b1e-3019-924b-38a8cd316b30",
                    "parameters": {
                        "display_data": {
                            "value": {
                                "value": "@pipeline().parameters.display_data",
                                "type": "Expression"
                            },
                            "type": "bool"
                        }
                    },
                    "sessionTag": "fuam"
                }
            },
            {
                "name": "03_Aggregate_Activities_Unit",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "02_Transform_Activities_Unit",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "dfd8cd93-4f0e-3ee8-ab4b-fc44d69c622f",
                    "workspaceId": "4c549dba-8b1e-3019-924b-38a8cd316b30",
                    "parameters": {
                        "display_data": {
                            "value": {
                                "value": "@pipeline().parameters.display_data",
                                "type": "Expression"
                            },
                            "type": "bool"
                        }
                    },
                    "sessionTag": "fuam"
                }
            }
        ],
        "parameters": {
            "fromDateDayAgo": {
                "type": "int",
                "defaultValue": 30
            },
            "display_data": {
                "type": "bool",
                "defaultValue": false
            }
        },
        "variables": {
            "fromDateFormatted": {
                "type": "String"
            },
            "toDateFormatted": {
                "type": "String"
            },
            "dayArray": {
                "type": "Array"
            },
            "currentDay": {
                "type": "Integer"
            },
            "currentDateLabel": {
                "type": "String"
            }
        }
    }
}